.pricing-options {
    &__inner {
        padding-top: 6.5rem;
        position: relative;

        @media (max-width: $md3+px) {
            padding-top: 20px;
        }
    }

    &__bg {
        z-index: 1;
        position: absolute;
        pointer-events: none;
        @media (min-width: 768px) {
            top: 0;
            left: 0;
            width: 100%;
            height: 58.8rem;
            background: linear-gradient(180deg, #0d2232 -26.64%, rgba(71, 112, 135, 0) 100%);
        }

        @media (max-width: $md3+px) {
            width: 960px;
            right: 0;
            bottom: 0;
            transform: translate(54%, 26%);
        }

        & img {
            width: 100%;
            height: auto;
            display: block;

            @media (min-width: 768px) {
                display: none;
            }
        }
    }

    &__body {
        position: relative;
        z-index: 2;
    }

    &__title {
        margin-bottom: 0.5rem;

        @media (max-width: $md3+px) {
            margin-bottom: 15px;
        }
    }

    &__text {
        margin-bottom: 8.5rem;

        @media (max-width: $md3+px) {
            margin-bottom: 24px;
        }
    }

    &__list {
        padding-left: 0;
        margin-bottom: 10rem;
        display: flex;
        gap: 5.4rem;

        @media (max-width: $md3+px) {
            display: block;
            margin-bottom: 60px;
        }

        & > li {
            flex: 0 1 calc(33.3333333% - calc(5.4rem * 2 / 3));

            @media (max-width: $md3+px) {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;

        @media (max-width: $md3+px) {
            display: block;
        }
    }

    &__bottom-col-1 {
        max-width: 22.7rem;

        @media (max-width: $md3+px) {
            max-width: none;
            margin-bottom: 22px;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__bottom-col-2 {
        flex: 0 0 calc(100% - calc(33.3333333% - calc(5.4rem * 2 / 3)) - 5.4rem);
    }

    &__title-2 {
        font-weight: 700;
        font-size: 3.4rem;
        line-height: 1.32em;
        letter-spacing: 0.05em;
        margin-bottom: 5rem;
        color: $mainColor;

        @media (max-width: $md3+px) {
            font-size: 25px;
            line-height: 35px;
            letter-spacing: 0.05em;
            margin-bottom: 10px;
        }
    }
}

.pricing-options-card {
    background: rgba(1, 1, 1, 0.55);
    box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.15);
    padding: 2.4rem 4.5rem 2.8rem;
    text-align: center;

    padding: 20px 30px 25px;

    &__head {
        border-bottom: 1px solid #555555;
        margin-bottom: 1.8rem;

        @media (max-width: $md3+px) {
            margin-bottom: 14px;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8.3rem;
        margin-bottom: 1.3rem;

        @media (max-width: $md3+px) {
            height: 68px;
            margin-bottom: 10px;
        }

        & img {
            height: 100%;
            width: auto;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
        }
    }

    &__wrap {
    }

    &__title {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 1.18em;
        letter-spacing: 0.05em;
        margin-bottom: 0.7rem;

        @media (max-width: $md3+px) {
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.05em;
        }
    }

    &__time {
        margin-bottom: 1rem;
    }

    &__body {
    }

    &__text {
        margin-bottom: 2.5rem;
    }

    &__price {
        font-family: $titleFontFamily;
        font-weight: 700;
        font-size: 4.5rem;
        line-height: 1.04em;
        letter-spacing: 0.05em;
        margin-bottom: 2rem;

        @media (max-width: $md3+px) {
            font-size: 35px;
            line-height: 37px;
            letter-spacing: 0.05em;
        }
    }

    &__btn {
        &.btn-default {
            min-width: auto;
            width: 100%;
            min-width: 5.7rem;
            font-size: 2rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            @media (max-width: $md3+px) {
                min-height: 49px;
                font-size: 18px;
            }
        }
    }

    &--second {
        background: #131e28;
        box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.15);
        padding: 4.2rem 5rem;
        text-align: left;

        @media (max-width: $md3+px) {
            padding: 20px 18px 36px;
        }

        & .pricing-options-card__head {
            display: flex;
            align-items: center;
            padding-bottom: 3.2rem;
            margin-bottom: 3.2rem;

            @media (max-width: $md3+px) {
                padding-bottom: 24px;
                margin-bottom: 20px;
            }
        }

        & .pricing-options-card__icon {
            margin-bottom: 0;
            flex: 0 0 auto;
            margin-right: 5.2rem;

            @media (max-width: $md3+px) {
                margin-right: 15px;
            }
        }

        & .pricing-options-card__wrap {
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 2rem;
            }
        }

        & .pricing-options-card__title {
            margin-bottom: 0;
        }

        & .pricing-options-card__time {
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            color: #dbdbdb;

            &:before {
                content: "•";
                margin-right: 1em;
            }
        }

        & .pricing-options-card__price {
            margin-bottom: 3.2rem;

            @media (max-width: $md3+px) {
                font-size: 30px;
                line-height: 31px;
            }
        }

        & .pricing-options-card__btn {
            &.btn-default {
                width: auto;
                min-width: 21.9rem;
                min-height: 4.6rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                font-size: 1.6rem;

                @media (max-width: $md3+px) {
                    width: 100%;
                }
            }
        }
    }
}

.instructor-test {
    &__title {
        margin-bottom: 0.7rem;

        @media (max-width: $md3+px) {
            margin-bottom: 9px;
        }
    }

    &__text {
        margin-bottom: 5.6rem;

        @media (max-width: $md3+px) {
            margin-bottom: 26px;
        }
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;

        @media (max-width: $md3+px) {
            display: block;
        }

        & > li {
            flex: 0 1 calc(50% - 2.5rem);

            @media (max-width: $md3+px) {
                &:not(:last-child) {
                    margin-bottom: 19px;
                }
            }
        }
    }
}

.instructor-test-card {
    background: rgba(1, 1, 1, 0.55);
    box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.15);
    padding: 4.5rem 4rem 3.5rem;
    min-height: 51rem;
    display: flex;
    flex-direction: column;

    @media (max-width: $md3+px) {
        display: block;
        min-height: auto;
        padding: 30px 18px 25px;
    }

    &__head {
        padding-bottom: 1.4rem;
        margin-bottom: 2.3rem;
        border-bottom: 1px solid #555555;

        @media (max-width: $md3+px) {
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 3rem;
        line-height: 1.04em;
        letter-spacing: 0.05em;
        font-family: $titleFontFamily;

        @media (max-width: $md3+px) {
            font-size: 20px;
            line-height: 21px;
            margin-bottom: 6px;
        }
    }

    &__subtitle {
    }

    &__body {
        flex: 1 1 auto;
        padding-bottom: 2rem;
    }

    &__text {
        max-width: 35.3rem;

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__price {
        font-weight: 700;
        font-size: 4.5rem;
        line-height: 1.04em;
        letter-spacing: 0.05em;
        color: $mainColor;
        font-family: $titleFontFamily;

        @media (max-width: $md3+px) {
            font-size: 30px;
            line-height: 31px;
            letter-spacing: 0.05em;
        }
    }
}

.note {
    position: relative;

    &__borders {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        --border-width: 2px;
        --size: calc(100% - 2.7rem);

        @media (max-width: $md3+px) {
            --border-width: 1px;
            --size: calc(100% - 7px);
        }

        &:before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: var(--size);
            height: var(--size);
            border: var(--border-width) solid #416262;
            box-shadow: 0.5rem 0.5rem 1.5rem rgba(156, 250, 250, 0.25);
        }

        &:after {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            width: var(--size);
            height: var(--size);
            border: var(--border-width) solid #416262;
            box-shadow: 0.5rem 0.5rem 1.5rem rgba(156, 250, 250, 0.25);
        }
    }

    &__body {
        position: relative;
        z-index: 2;
        padding: 10rem 9rem 12rem;

        @media (max-width: $md3+px) {
            padding: 35px 35px 45px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 3rem;
        line-height: 1.04em;
        letter-spacing: 0.15em;
        font-family: $titleFontFamily;
        margin-bottom: 7.6rem;
        text-transform: uppercase;

        @media (max-width: $md3+px) {
            font-size: 22px;
            line-height: 23px;
            letter-spacing: 0.15em;
            margin-bottom: 20px;
        }
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        max-width: 84.1rem;

        & > li {
            @media (min-width: 768px) {
                position: relative;
                padding-left: 7.6rem;

                &:before {
                    position: absolute;
                    font-family: "icomoon" !important;
                    content: "\e902";
                    top: 45%;
                    left: 0;
                    font-size: 1.6rem;
                    transform: translateY(-50%);
                }
            }

            &:not(:last-child) {
                margin-bottom: 5.9rem;

                @media (max-width: $md3+px) {
                    margin-bottom: 25px;
                }
            }

            & > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.working-process {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__body {
        position: relative;
        z-index: 2;
        padding: 7rem 0 9rem;

        @media (max-width: $md3+px) {
            padding: 30px 0 35px;
        }
    }

    &__suptitle {
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: 6rem;

        @media (max-width: $md3+px) {
            margin-bottom: 17px;
        }
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;

        @media (max-width: $md3+px) {
            display: block;
        }

        & > li {
            flex: 0 1 33.3333333%;
            position: relative;

            &:last-child {
                & .working-process__list-icon {
                    &:before {
                        display: none;
                    }
                }
            }

            @media (max-width: $md3+px) {
                &:not(:last-child) {
                    margin-bottom: 29px;
                }
            }
        }
    }

    &__list-icon {
        width: 16.1rem;
        margin: 0 auto 4rem;
        box-shadow: 5px 5px 25px rgba(202, 202, 202, 0.15);
        border-radius: 50%;

        @media (max-width: $md3+px) {
            width: 92px;
            margin-bottom: 21px;

            &::before {
                display: none;
            }
        }

        &:before {
            position: absolute;
            content: "";
            top: calc(16.1rem / 2);
            left: calc(calc((100% - 16.1rem) / 2) + 16rem);
            width: 55%;
            height: 0.3rem;
            display: block;
            background: linear-gradient(right, #638599 100%, rgba(#638599, 0.05) 0%);
            z-index: 1;
        }
        & img {
            width: 100%;
            height: auto;
            position: relative;
            z-index: 2;
        }
    }

    &__list-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 3rem;
        line-height: 1.2em;
        letter-spacing: 0.1em;
        font-family: $titleFontFamily;

        @media (max-width: $md3+px) {
            font-size: 14px;
        }
    }
}
