.home-banner-second {
    position: relative;

    &__decor {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        transform: translate(-60%, -50%);
        width: 69.3rem;

        @media (max-width: $md3+px) {
            width: 192px;
            transform: translate(-37%, -50%);
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__slider {
        position: relative;
        z-index: 2;

        @media (max-width: $md3+px) {
            margin-left: -20px;
            margin-right: -20px;
        }

        & .swiper-wrapper {
            @media (min-width: 768px) {
                gap: 1rem;
            }

            @media (max-width: $md3+px) {
                transition-timing-function: linear !important;
            }
        }

        & .swiper-slide {
            @media (min-width: 768px) {
                width: auto;
                flex: 0 1 calc(33.3333333% - calc(1rem * 2 / 3));
            }

            @media (max-width: $md3+px) {
                width: 165px;
            }
        }
    }

    &__img {
        height: 0;
        padding-bottom: 120.27%;
        margin-bottom: 5.5rem;

        @media (max-width: $md3+px) {
            padding-bottom: 122.42%;
            margin-bottom: 24px;
        }
    }

    &__title {
        color: $mainColor;
        font-weight: 700;
        font-size: 8rem;
        line-height: 1.05em;
        font-family: $titleFontFamily;

        @media (max-width: $md3+px) {
            font-size: 30px;
            line-height: 31px;
        }
    }
}
